html, body { cursor: url('../img/cursor/normal.png'), auto; }
.tile { display: block; border: 0px none; width: 46px; height: 46px; position: absolute; top: 0; left: 0;}
.lasso { display: block; border: 0px none; position: absolute; top: 0; left: 0;}
#area { border: 1px solid red; position: fixed; overflow: hidden; }
#tiles { position: fixed; overflow: hidden; top: 600px; }
.choose-tile {display: block; float: left; margin-right: 5px; border: 2px solid #fff;}
.choose-tile.active { border: 2px solid blue; }
#map { background: url('../img/tiles/bkg.png'); border: 1px solid blue; position: relative; top: 0px; left: 0px; width: 768px; height: 443px;}
#map #cursor {display: none; z-index: 1; }
.nav { border: 1px solid red; position: fixed; top: 75px; left: 75px; width: 25px; height: 25px; }
.nav-up { cursor: url('../img/cursor/up.png'), n-resize; }
.nav-up-right { cursor: url('../img/cursor/up-right.png'), ne-resize; }
.nav-right { cursor: url('../img/cursor/right.png'), e-resize; }
.nav-down-right { cursor: url('../img/cursor/down-right.png'), se-resize; }
.nav-down { cursor: url('../img/cursor/down.png'), s-resize; }
.nav-down-left { cursor: url('../img/cursor/down-left.png'), sw-resize; }
.nav-left { cursor: url('../img/cursor/left.png'), w-resize; }
.nav-up-left { cursor: url('../img/cursor/up-left.png'), nw-resize; }
